.b-journey{
    margin-bottom: 85px;

    @include media-breakpoint-down(sm) {
    	margin-bottom: 20px; 
    }


    .h3{
        font-size: 3.4rem;
        line-height: 5.7rem;
		font-weight: bold;
		margin-bottom: 40px;
        color: $color-primary;
    }

    .second-row {
    	@include media-breakpoint-down(md){
    		img {
    			order: 1;
    		}

    		input {
    			order: 3;
    		}

    		label {
    			order: 2;
    		}
    	}

    	@include media-breakpoint-down(md) {
    		border-bottom: 4px solid $color-primary;
    		padding-bottom: 40px; 
    		margin-bottom: 20px;

    	}
    }

    &.forecast {
    	background-color: $color-grey-bg; 
    	padding: 30px; 

    	@include media-breakpoint-down(sm) {
    		padding: 30px 15px;
    	}
    }
}

