.b-match{
    label{
        font-size: 2.9rem;
        font-weight: normal; 
        display: block;
        width: 100%;
        text-transform: uppercase;
    }
    input{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 5.3rem;
        text-align: center;
        margin: 0 15px;

        @include media-breakpoint-down(sm) {
            width: 40px; 
            height: 40px; 
            padding: 2px;
            font-size: 2.2rem;
            margin-right: 0; 
        } 
    }

    .team{
        &:after{
            content: "";
            background-color: $color-primary;
            width: 20px;
            height: 4px;
            position: absolute;
            right: -10px;
            top: 50%;
            margin-top: -2px;

            @include media-breakpoint-down(md) {

                content: none; 
                left: 0; 
                right: 0; 
                margin: auto; 
                width: 80px;
                top: 100px;
            }
        }
        text-align: left;

        @include media-breakpoint-down(md) {
            text-align: left;
            margin-bottom: 40px;
        }

        @include media-breakpoint-down(sm) {
            img {
                height: 50px;
            }
        }
        label{
            margin-left: 10px;
        }
        & + .team{
            text-align: right;
            &:after{
                content: none;
            }
            label{
                margin-right: 10px;
                margin-left: 0px;

                @include media-breakpoint-down(md) {
                    margin-left: 10px; 
                    margin-right: 0; 
                }
            }
        }
    }
    & + .b-match{
        margin-top: 40px;

        @include media-breakpoint-down(sm) {
            margin-top: 0; 
        }
    }

    
}
