.form-control{
  position: relative;
  &.has-error{
    label{
      //color: ;
    }
    .form-control{
      //border-color: ;
      //color: ;
    }
  }
  &.has-success{
    label{
      //color: ;
    }
    .form-control{
      //border-color: ;
      //color: ;
    }
  }
}
  //overwrite bootstrap styles for
  .radio-inline, .checkbox-inline ,.checkbox{
    padding-left: 0;
    position: relative;
  }













  .radio label:before,
  .radio-inline label:before {
    background: $color-black;
    border-color: $color-white;
  }

  .radio:hover input[type=radio]+ label::after,
  .radio-inline:hover input[type=radio] + label::after
  .radio:hover input[type=radio]:checked + label::after,
  .radio-inline:hover input[type=radio]:checked + label::after
  {
    background-color: $color-primary;
  }

  .radio input[type=radio],
  .radio-inline input[type=radio] {
    &:checked{
      & + label::before{
        border-color: $color-white;
      }
      & + label::after{
        background: $color-white;
      }
    }

    & + label::after{
      background: $color-white;
    }

  }



  .form-group{
    .label-control{
      color: $color-white;
      &:hover{
        color: $color-primary;
      }
    }
  }

  .label-control{
    color: $color-white;
    &:hover{
      color: $color-primary;
    }

  }

  input.form-control{
    color: $color-white;
    border-bottom: 1px solid $color-white;
    width: 100%;
  }


  .radio,
  .radio-inline,
  .checkbox-inline,
  .checkbox {
    label{
      color: $color-white;
      padding-left: 0px
    }
    &:hover label{
      color: $color-primary;
    }
  }


  .checkbox,
  .checkbox-inline {
    input[type=checkbox]:checked + label::before{
      color: $color-white;
    }
    &:hover{

    }

  }

  .checkbox,
  .checkbox-inline {
    input[type=checkbox]{
      &:checked + label::after {
        background-color: $color-primary;
        content:"";
        width: 9px;
        height: 9px;
        border-radius: 50%;
        display: inline-block;

      }

      &:focus{
        & + label::before {
          border-color: $color-white;
      }
    }

    &:hover{
      input[type=checkbox],
      input[type=radio]{
        &:checked + label::after {
          color: $color-primary;
        }
      }
    }
  }
}

  .checkbox label:before,
  .checkbox-inline label:before{
    background-color: $color-white;
    border-color: $color-white;
    color: $color-white;
    content:"";
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid $color-white;
    &:hover{
      border-color: $color-primary;
      color: $color-primary;
    }
  }
