.b-match {
	.form-group {
		input.error {
			border: 2px solid #F00;
		}
		label.error {
			// font-size: 12px;
			// line-height: normal;
			// clear: both;
			// margin: 0;
			// text-transform: none;

			// position: absolute;

			display: none!important;
			// &:before,
			// &:after {
			// 	content: '';
			// 	display: table;
			// 	clear: both;
			// }
		}
	}
}
.bootstrap-select {
	button.error {
		border: 2px solid #F00;
	}
	label.error {
		display: none!important;
	}
}
.checkbox {
	label.error {
		display: none!important;
	}
	input.error {
		outline: 2px solid #F00!important;
	}
}

.cnt-error {
	background-color: #F00;
	padding: 45px 0;
	font-size: 2.4rem;
	color: white;

	display: none;
}


.checkbox{
    input{
      width: 17px;
      height: 17px;
      border: none;
      background-color: $color-white;
      display: inline-block;
      color: $color-secondary;
      -webkit-appearance: checkbox;
      -moz-appearance: initial;
    }

    label{
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 5.7rem;

      @include media-breakpoint-down(sm) {
        font-size: 1.4rem; 

      }
      a{
        color: $color-secondary;
      }
    }

  }


.form-control {
	display: block; 
	width: 100%;
	font-size: 2.5rem;
	border: none; 
	padding: 12px 20px;
}