.b-match {
	.form-group {
		input.error {
			border: 2px solid #F00;
		}
		label.error {
			// font-size: 12px;
			// line-height: normal;
			// clear: both;
			// margin: 0;
			// text-transform: none;

			// position: absolute;

			display: none!important;
			// &:before,
			// &:after {
			// 	content: '';
			// 	display: table;
			// 	clear: both;
			// }
		}
	}
}
.bootstrap-select {
	button.error {
		border: 2px solid #F00;
	}
	label.error {
		display: none!important;
	}
}
.checkbox {
	label.error {
		display: none!important;
	}
	input.error {
		outline: 2px solid #F00!important;
	}
}

.cnt-error {
	background-color: #F00;
	padding: 45px 0;
	font-size: 2.4rem;
	color: white;

	display: none;
}