//Modals

.modal-content {
	background-color: transparent;
	border-radius: 10px;
}

.modal-body {
	background-color: $color-grey-dark;
	border-radius: 10px;
	padding: 30px;
	// padding: 60px 70px;
	font-size: 2rem;
	p {
		// font-size: 2.87rem;
		@include media-breakpoint-down(sm) {
			font-size: 1.6rem;
		}
		&.modal-title {
			font-size: 2.9rem;
			text-transform: uppercase;
			padding-bottom: 30px;
			@include media-breakpoint-down(sm)  {
				font-size: 1.9rem;
			}
		}
	}
	.btn-primary {
		&.sm {
			padding-top: 7.2px;
			padding-bottom: 7.2px;
			font-size: 2.8rem; line-height: 4.65rem;
			font-weight: bold;
			@include media-breakpoint-down(sm) {
				font-size: 1.6rem; line-height: 2rem;
				padding: 15px;
			}
		}
	}
}

.modal-backdrop {
	&.fade {
		&.show {
			opacity: .64;
		}
	}
}

.modal-lg {
	// max-width: 1200px;
	max-width: 1000px;
}