
.bet-page {
    font-family: $f-ubuntu;
    text-align: center;
    color: $color-white;
    background-image: url('../img/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    &__top {
        margin-bottom: 45px;
        .title {
            display: inline-block;
            font-size: 4.3rem;
            font-weight: bold;
        }
        p {
            font-size: 2.5rem;
            font-weight: 500;
        }
    }


    &__main-content {
        padding: 50px 65px 80px;
        margin-bottom: 70px;
        .title {
            display: inline-block;
            font-size: 4.9rem;
            line-height: 4.2rem;
            font-weight: bold;
        }

        .subtitle {
            display: inline-block;
            font-size: 3.8rem;
            line-height: 5.7rem;
            font-weight: 500;
        }
        .bg-grey {
            padding: 60px 55px 75px;
        }
    }

    h3{
        font-size: 3.4rem;
        line-height: 5.7rem;
        font-weight: bold;
        color: $color-white;
        margin-bottom: 50px;
        span {
            color: $color-primary;
        }
    }

    .small-text{
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 5.7rem;
        text-align: left;
    }

  .selectpicker-cnt{
    margin-bottom: 75px;
  }

  label{
    font-weight: bold;
    font-size: 3rem;
    line-height: 5.7rem;
  }

  .checkbox{
    input{
      width: 17px;
      height: 17px;
      border: none;
      background-color: $color-white;
      display: inline-block;
      color: $color-secondary;
      -webkit-appearance: checkbox;
      -moz-appearance: initial;
    }

    label{
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 5.7rem;
      a{
        color: $color-secondary;
      }
    }

  }
  .submit{
    font-size: 2.9rem;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 26px;
  }

  .advice{
    font-size: 1.6rem;
    font-weight: normal;
  }

  .h2--orange{
    color: $color-primary;
    font-size: 3.5rem;
    line-height: 3.5rem;
    font-weight: bold;
    margin-bottom: 60px;
  }
  .join {
    p{
      font-size: 2.5rem;
      line-height: 3.5rem;
      font-weight: bold;
      margin-bottom: 35px;
    }
    input[type=email]{
      border: none;
      font-size: 2.9rem;
      line-height: 3.5rem;
      padding: 20px 23px;
      color: $color-black-text;
      display: inline-block;
      margin-right: 40px;
      &:focus{
        outline: none;
      }
    }
    &__btn{
      font-size: 3.9rem;
      display: inline-block;
      line-height: 3.5rem;
      font-weight: bold;
    }
  }

}



.bootstrap-select{
    position: relative;
    .dropdown-toggle::after{
        position: absolute;
        top: 0;
        right: 15px;
        display: inline-block;
        width: 18px;
        height: 100%;
        margin-left: 0;
        vertical-align: 0;
        background-image: url('../../svg/icons/arrow_down.svg');
        font-family: "Iconfont";
        background-size: 18px auto;
        background-position: center;
        background-repeat: no-repeat;
        content: "";
        border: none;

    }
    > .dropdown-menu{
      border-radius: 10px;
    }


    >.dropdown-toggle{
        background-color: $color-white;
        color: $color-black-text;
        font-size: 2.5rem;
        line-height: 2rem;
        font-weight: 100;
        padding: 13px 22px 15px;
        overflow: hidden;
        border: none;
        border-radius: 10px;
        max-height: 50px;
        cursor: pointer;

        &:focus , &:active{
          outline: none !important;
        }
    }
    .dropdown-menu.inner{
      display: block;
    }
    li {
      & + li {
        border-top: 1px solid #a9a9a9;
      }
      a{
          color: $color-black-text;
          font-weight: 100;
          font-size: 2.4rem;
          line-height: 5.7rem;
          padding: 0px 22px;
          width: 100%;
          display: inline-block;
      }
    }
}

.btn-primary{
  color: $color-white;
  background-color: $color-btn;
  padding: 23px 30px;
  border: none;
  border-radius: none;
  &:hover{

  }
  &:focus{
    outline: none;
  }
}
