
.bet-page {
    font-family: $f-ubuntu;
    text-align: center;
    color: $color-white;
    background-image: url('../img/bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;

    &__top {
        margin-bottom: 45px;
        .title {
            display: inline-block;
            font-size: 4.3rem;
            font-weight: bold;
        }
        p {
            font-size: 2.5rem;
            font-weight: normal;
        }
    }


    &__main-content {
        padding: 50px 65px 80px;
        .title {
            display: inline-block;
            font-size: 4.9rem;
            line-height: 4.2rem;
            font-weight: bold;
        }
        
        .subtitle {
            display: inline-block;
            font-size: 3.8rem;
            line-height: 5.7rem;
            font-weight: 500;
        }
        .bg-grey {
            padding: 60px 55px 75px;
        }
    }

    h3{
        font-size: 3.4rem;
        line-height: 5.7rem;
        font-weight: bold;
        color: $color-white;
        margin-bottom: 50px;
        span {
            color: $color-primary;
        }
    }

    .small-text{
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 5.7rem;
        text-align: left;
    }

    .bootstrap-select{
        .dropdown-menu ul{
            display: inline-block;
        }
        li a{
            font-weight: 100;
            font-size: 2.4rem;
            line-height: 5.7rem;
        }
    }

}

.bootstrap-select{
    .dropdown-toggle::after{
        position: absolute;
        top: 0;
        right: 15px;
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0;
        vertical-align: 0;
        content: "\E004";
        border: none;
        
    }
    & > .dropdown-menu{

    }
    button{
        background-color: $color-white;
        color: $color-black-text;
        font-size: 2.5rem;
        line-height: 2rem;
        font-weight: 100;
        padding: 10px 22px 15px;
        overflow: hidden;
        border: none;
        border-radius: 10px;
        max-height: 50px;
    }
    li a{
        color: $color-black-text;
        font-weight: 100;
        font-size: 2.4rem;
        line-height: 5.7rem;
    }
}
