

<div class="row b-match">
    <div class="col-sm-6 team align-items-center d-flex justify-content-between">
        <img height="90" src="@@webRoot/img/escudos/@@home.img" alt="">
        <label for="@@home.item-name">
            @@home.name
        </label>
        <input type="number" max-length="1" max="9" name="@@home.item-name" id="@@home.item-name">
    </div>
    <div class="col-sm-6 team align-items-center d-flex justify-content-between">
        <input type="number" max-length="1" max="9" name="@@visitor.item-name" id="@@visitor.item-name">
        <label for="@@visitor.item-name">
            @@visitor.name
        </label>
        <img height="90" src="@@webRoot/img/escudos/@@visitor.img" alt="">
    </div>
    
</div>

